<div class="root-container">
    <div class="login">
        <img src="{{logo}}"/>

        <br/>
        <p class="has-text-centered">
        </p>
        <p class="has-text-centered" id="mcash-invites-left"></p>
        <br/>

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input id="mcash-find" class="input is-info" placeholder="Find a friend...">
                <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
                </span>
            </p>
        </div>

        <div id="friends-root"></div>


        <div class="font-12">For more info of the benefits of using this extension and how it works,
            <a href="https://minglecash.com" class="has-text-info">click here</a>
        </div>

    </div>
</div>